<a href="https://colab.research.google.com/github/darkknightraj/redme.me/blob/main/Copy_of_errorinpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
print("Enter no of data")
n=int(input())
Actual=[]
Predicted=[]
print("Enter actual values")
for i in range(n):
 Actual.append(int(input()))
print("Enter predicted values")
for i in range(n):
 Pred7
 icted.append(int(input()))

Enter no of data
4
Enter actual values
5
3
6
7
Enter predicted values
5
4
2
8

In [ ]:
actual=np.array(Actual)
predicted=np.array(Predicted)
actual_mean=actual.mean()
predicted_mean=predicted.mean()

In [ ]:
print("actual mean : ",actual_mean)
print("predicted mean : ",predicted_mean)

actual mean :  5.25
predicted mean :  4.75

In [ ]:
error=abs(actual-predicted)
total_error=error.sum()

In [ ]:
print("TotalError is : ",total_error)

TotalError is :  6

In [ ]:
square_error=error*error
total_square_error=square_error.sum()
mean_square_error=square_error.mean()

In [ ]:
print("mean square error is : ",mean_square_error)

mean square error is :  4.5

In [ ]:
root_mean_square_error=np.sqrt(mean_square_error)
print("root mean square error is : ",root_mean_square_error)

root mean square error is :  2.1213203435596424

In [ ]:
Abar_A=abs(actual_mean-actual)
total_Abar_A=Abar_A.sum()
Abar_A_square=Abar_A*Abar_A
total_Abar_A_square=Abar_A_square.sum()
SST=total_Abar_A_square
relative_squared_error=total_square_error/total_Abar_A_square

In [ ]:
print("relative squared error is : ",relative_squared_error)

relative squared error is :  2.057142857142857

In [ ]:
mean_absolute_error=error.mean()
print("mean absolute error is : ",mean_absolute_error)

mean absolute error is :  1.5

In [ ]:
relative_absolute_error=total_error/total_Abar_A
print("relative absolute error is : ",relative_absolute_error)

relative absolute error is :  1.2

In [ ]:
Pbar_P=abs(predicted_mean-predicted)
total_Pbar_P=Pbar_P.sum()
Pbar_P_square=Pbar_P*Pbar_P
total_Pbar_P_square=Pbar_P_square.sum()
SSR=total_Pbar_P_square

In [ ]:
coefficient_of_determination=SSR/SST
print("Coefficient of determination is : ",coefficient_of_determination)

Coefficient of determination is :  2.142857142857143

In [ ]:
coefficient_of_determination_2=1-(total_square_error/total_Abar_A_square)
print("coefficient of determination is : ",coefficient_of_determination_2)

coefficient of determination is :  -1.057142857142857

In [ ]:
df=pd.DataFrame((actual,predicted,error,square_error,Abar_A,Abar_A_square))
df

        0       1        2       3
0  5.0000  3.0000   6.0000  7.0000
1  5.0000  4.0000   2.0000  8.0000
2  0.0000  1.0000   4.0000  1.0000
3  0.0000  1.0000  16.0000  1.0000
4  0.2500  2.2500   0.7500  1.7500
5  0.0625  5.0625   0.5625  3.0625

In [ ]:
df=df.rename(columns=lambda x:x+1)
df=df.rename(index={0:"Actual",1:"Predicted",2:"abs Error",3:"Error square",4:"abs(Abar-A)"})

In [ ]:
df

                   1       2        3       4
Actual        5.0000  3.0000   6.0000  7.0000
Predicted     5.0000  4.0000   2.0000  8.0000
abs Error     0.0000  1.0000   4.0000  1.0000
Error square  0.0000  1.0000  16.0000  1.0000
abs(Abar-A)   0.2500  2.2500   0.7500  1.7500
5             0.0625  5.0625   0.5625  3.0625

In [ ]:
print("TotalError is : ",total_error)
print("mean square error is : ",mean_square_error)
print("root mean square error is : ",root_mean_square_error)
print("relative squared error is : ",relative_squared_error)
print("mean absolute error is : ",mean_absolute_error)
print("relative absolute error is : ",relative_absolute_error)
print("Coefficient of determination is : ",coefficient_of_determination)
print("coefficient of determination is : ",coefficient_of_determination_2)

TotalError is :  6
mean square error is :  4.5
root mean square error is :  2.1213203435596424
relative squared error is :  2.057142857142857
mean absolute error is :  1.5
relative absolute error is :  1.2
Coefficient of determination is :  2.142857142857143
coefficient of determination is :  -1.057142857142857